:root {
  --color-red: red;
  --color-black: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vc-header {
  display: flex;
  height: 100vh;
  background-color: var(--color-black);
}

.vc-header h1 {
  color: pink;
  font-family: 'Russo One', monospace;
  text-transform: uppercase;
}