A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:link {
	COLOR: #00ff00; TEXT-DECORATION: none 
}
A:visited {
	COLOR: #00ff00; TEXT-DECORATION: none 
}
A:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
TD {
	COLOR: #ffffff; TEXT-DECORATION: none
}
BODY {
	SCROLLBAR-FACE-COLOR: #222222; SCROLLBAR-HIGHLIGHT-COLOR: #444444; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #444444; SCROLLBAR-ARROW-COLOR: #00ff00; SCROLLBAR-TRACK-COLOR: #111111; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
