@import 'https://fonts.googleapis.com/css?family=Inconsolata';

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  background-color: #000000;
  background-image: radial-gradient(#11581E, #041607), url("../assets/noise.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #fff;
}

h1 {
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1ex rgba(51, 255, 51, 1),
      0 0 2px rgba(255, 255, 255, 0.8);
}

h2 {
  color: rgba(51, 255, 51, 1);
}

blockquote {
  background-color: #333;
}

a {
  color: rgba(128, 255, 128, 0.8);
  text-decoration: none;
}

a::before {
  content: "[";
}

a::after {
  content: "]";
}

strong {
  color: #FB7E14;
}

/* BACKGROUND */

.noise {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../assets/noise.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .02;
}

.overlay {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 0%,
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}

/* CONTENT  */

.terminal {
  box-sizing: inherit;
  width: 1000px;
  max-width: 100%;
  padding: 4rem;
}

.content {
  padding: 0 1.5rem 1.5rem;
  background-color: #000000;
  position: relative;
  z-index: 2;
  overflow: auto;
}

.content ul li::marker {
  content: "> ";
  color: #fff;
}

.errorcode {
  color: white;
}

.output {
  /*color: rgba(128, 255, 128, 0.8);*/
  color: #fff;
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.input {
  color: rgba(192, 255, 192, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.input::before {
  content: "$ ";
}

.gallery-grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1;
  margin: .3rem;
}

.gallery-item figcaption {
  text-align: center;
  font-size: .8em;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}